$transition-duration-small: 0.15s;
$transition-easing: ease;

$page-background-primary: #ebedef;
$color-white: #ffffff;
$border-color: #e0e0e0;
$border: #1e1e1e;
$blue-color: #221169;
$body-bg: #f9faff;
$header-bg: #ffffff;

$white-bg: #ffffff;

$orange-border-color: #f2b304;
$text-main: #263238;
$text-secondry: #65624c;
$primary-2: #ffbb00;
$primary-3: #ffc422;

$border-gray: #eeeff3;
$main-light-gray: #f9f9f9;

$light-gray-8: #605f5f;
$card-border: #eee7e7;

$white-color-2: #fffdf7;
