@mixin text16-bolder {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
}
@mixin text12-bold {
  font-size: 12px;
  font-weight: 600;
  line-height: 10px;
}

@mixin text12-meduim {
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
}

@mixin text12 {
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
}

@mixin text16 {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}
@mixin text16-bold {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
}

@mixin text16-meduim {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}

@mixin text16-bolder {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}

// @mixin text14-bolder {
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 150%; /* 21px */
//     letter-spacing: 0.28px;
// }

// @mixin text14 {
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 150%; /* 21px */
//     letter-spacing: 0.28px;
// }

@mixin text50 {
  font-size: 50px;
  font-weight: 700;
  line-height: 150%; /* 21px */
}

@mixin text42 {
  font-size: 42px;
  font-weight: 700;
  line-height: 150%; /* 21px */
}

@mixin text60-bolder {
  font-size: 60px;
  font-weight: 700;
  line-height: 150%; /* 21px */
}

@mixin text30-bold {
  font-size: 30px;
  font-weight: 600;
  line-height: 150%; /* 21px */
}

// New typography

@mixin text58-bolder {
  font-size: 58px;
  font-weight: 700;
  line-height: 70.19px;
  letter-spacing: -1px;
  @include breakpoint("lg-max") {
    font-size: 40px;
    line-height: 54px;
  }

  @include breakpoint("sm-max") {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    letter-spacing: -1px;
  }
}

@mixin text36-bolder {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0.30000001192092896px;

  @include breakpoint("lg-max") {
    font-size: 32px;
    line-height: 38px;
  }

  @include breakpoint("sm-max") {
    font-size: 24px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.30000001192092896px;
  }
}

@mixin text18-meduim {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  @include breakpoint("lg-max") {
    font-size: 16px;
  }
  @include breakpoint("sm-max") {
    font-size: 14px;
    line-height: 21px;
  }
}

@mixin text20 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
}

@mixin text20-meduim {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

@mixin text14-meduim {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: 2px;
}

@mixin text12-meduim {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
}
